*{
  font-family: 'Lato', sans-serif;
}

.postContainer{
  width: 90%;
  margin: auto;
  font-family: 'Baloo Bhaina', cursive;
}

body{
  background:black;
}

.loginContainer{
  overflow: hidden;

  .loginScreenTitle{
    font-size: 70px;
    text-align: center;
    color:white;
    padding-top: 100px;
    margin-bottom: 70px;
    text-shadow: 1px 1px 2px black;
    font-family: 'Lato', sans-serif;

    i{
      color:lightgreen;
    }

  }
}

.background{
    background-image: url(../images/guy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 750px;
}


.login{
  float:right;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 350px;
  padding-top: 10px;
  opacity: .3;
  font-family: 'Baloo Bhaina', cursive;
  transition: all .5s ease-in-out;
  text-shadow: 1px 1px 2px black;
  box-shadow: 5px 5px 20px black;
  background: rgba(50, 50, 50, .5);
  border-radius: 10px;

  button{
      margin-left: 100px;
  }
}

.login:hover{
  opacity: 1;
}

.signUp{
  float:left;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 350px;
  padding-top: 10px;
  opacity: .3;
  font-family: 'Baloo Bhaina', cursive;
  transition: all .5s ease-in-out;
  text-shadow: 1px 1px 2px black;
  box-shadow: 5px 5px 20px black;
  background: rgba(50, 50, 50, .5);
  border-radius: 10px;

  button{
      margin-left: 100px;
      background: rgba(50, 50, 50, .5);
  }
}

.signUp:hover{
  opacity: 1;
}

.loginTitle{
  font-size: 25px;
  color:white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.signUpTitle{
  font-size: 25px;
  color:white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

input{
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 5px;
  width: 250px;
}

button{
border-radius: 5px;
background: rgba(50, 50, 50, .5);
color: white;
border: 1px solid white;
opacity: 3;
font-family: 'Lato', sans-serif;
padding: 10px;
}

button:hover{
  background: lightgreen;
  color:black;
}


.userInfo:hover{
  opacity: 1;
  transition: all .5s ease-in-out;
}

.top{
    background:black;

    .logo{
      text-align:center;
      font-size: 250%;
      color:white;
      font-family: 'Lato', sans-serif;
      width:50%;
      margin:auto;
      padding-top: 30px;
      margin-bottom: 10px;
      width: 10%;

      a{
        color:white;
      }
    }

    .loginout{
      float:right;
      margin-top: 1%;
      margin-right: 2.5%;
      font-family: 'Lato', sans-serif;
    }
  }

  .logo:hover{

    i{
      color:lightgreen;
    }

  }

    .loginout:hover{
      color:grey;
      border: 1px solid grey;
    }

.addAPhoto{
  position: fixed;
  top:15%;
  right:3%;
  width: 5%;
}

.addAPhoto:hover{

  button{
    color:grey;
    border:1px solid grey;
  }
}
.userPhotoContainer{
  width: 100px;
  height: 100px;
  position: absolute;

.userPhoto{
  height: 90%;
  width: 90%;
  margin: auto;
  margin-top: 20%;
  border-radius:100px;

  img{
    width:100%;
    height:100%;
    border-radius: 100px;
  }
}
}

.post{
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  background: black;
  margin-left: 10%;
  margin-bottom: 80px;
  padding-bottom: 10px;
  position: relative;

  .whoPosted{
    width:100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-left: 10px;
    margin-top: 5px;
    float: left;
    color:white;

    b{
      float:left;
      margin-right: 10px;
      font-size: 100%;
    }
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

    .picture{
      width: 100%;
      height: 100%;
      text-align: center;
      background: black;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      img {
        width: 100%;
        height:100%;
      }
    }

    .description{
      background:black;
      font-family: 'Lato', sans-serif;
      float: left;
      font-size: 70%;
      margin-top: 5px;
      overflow: auto;
      color:white;
    }


    .commentsContainer{
      width:98.6%;
      padding-left: 10px;
      padding-top: 10px;
      overflow:auto;
      transition: all 1s ease-in-out;
      height:10px;
      margin-bottom: 20px;
      border:1px solid white;
      }

      .commentsContainer:hover{
        height:100%;
        transition: all 1s ease-in-out;


    .comments{
      overflow:hidden;
    }

    .comments:hover{
      height:100%;
    }

    button{
      float:right;
      margin-top: 45px;
      margin-right: 20px;
      color:white;
      background: grey;
      border: 1px solid grey;
      padding-right: 10px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      }

      button:hover{
        color:grey;
        background: white;
        border: 1px solid grey;
      }
    }
  }

  .addCommentsContainer {
    width: 500px;
    position: fixed;
    text-align: center;
    left: 350px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 5px 5px 20px black;
    background: rgba(50, 50, 50, .5);
    border-radius: 10px;
    transition: all 3s ease-in-out;
    z-index: 10;

    input{
      padding-left: 10px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border:1px solid black;
    }

    button{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-left: -3px;
      margin-top: 200px;
      height:22px;
      border: 1px solid black;
    }

    .addCommentsContainerTitle{
      color:white;
      font-family: 'Baloo Bhaina', cursive;
      font-size: 25px;
      margin-top: 10px;
    }

    textarea{
      margin: auto;
      margin-top: 20px;
      font-family: 'Baloo Bhaina', cursive;
      border-radius: 10px;
      border: 1px solid white;
    }
}

.addCommentButton{
    width: 26px;
    height:20px;
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;
    float:right;
    padding-bottom: 30px;
    background: white;
    margin-right:15px;
    color:white;
    background: black;
    border: 1px solid black;
    margin-bottom: 40px;
  }
  .addCommentButton:hover{
    background:black;
    color:grey;
  }


.addPhotoContainer{
height: 50%;
width: 38%;
margin: auto;
margin-top: 20px;
position: fixed;
text-shadow: 1px 1px 2px black;
box-shadow: 5px 5px 20px black;
background: rgba(50, 50, 50, .5);
border-radius: 5px;
left:30%;
z-index: 1;


// .userImage{
//   height: 75px;
//   width: 75px;
//   border: 1px solid white;
//   margin-left: 50px;
//   margin-top: 50px;
//   float:left;
//   border-radius: 100px;
// }

.addPhotoUrl{
  width: 450px;
  height: 350px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 5px;

  input{
    width: 300px;
    height: 30px;
    margin-top: 25px;
    margin-left: 70px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: 'Lato', sans-serif;
    padding-left: 10px;
    color: black;
  }

  button{
    border: 1px solid white;
    height: 34px;
    width: 100px;
    font-family: 'Lato', sans-serif;
    background: white;
    color: grey;
    margin-left:175px;
    margin-top: 10px;
    border-radius: 10px;
  }

  button:hover{
    background: grey;
    color:white;
  }

  .addPhotoTitle{
    text-align: center;
    margin-top: 25px;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 25px;
    color:white;
  }

  textarea{
    font-family: 'Lato', sans-serif;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid white;
  }
}
}

.profileHeader{
  width:80%;
  height:250px;
  border: 1px solid white;
  margin: auto;

  .profileAvitar{
    height:70%;
    width:20%;
    border:1px solid white;
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
  }

  .profileUserName{
    height:20%;
    width:auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 120%;
  }
}
