*{
  font-family: 'Lato', sans-serif;
}

.postContainer{
  width: 1200px;
  margin: auto;
  border:1px solid white;
  font-family: 'Baloo Bhaina', cursive;
}

body{
  background:black;
}

.loginContainer{
  overflow: hidden;

  .loginScreenTitle{
    font-size: 70px;
    text-align: center;
    color:white;
    padding-top: 100px;
    margin-bottom: 70px;
  }
}

.background{
    background-image: url(../images/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 750px;
}


.login{
  float:right;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 350px;
  padding-top: 10px;
  opacity: .3;
  font-family: 'Baloo Bhaina', cursive;
  transition: all .5s ease-in-out;
  text-shadow: 1px 1px 2px black;
  box-shadow: 5px 5px 20px black;
  background: rgba(50, 50, 50, .5);
  border-radius: 10px;

  button{
      margin-left: 100px;
  }
}

.login:hover{
  opacity: 1;
}

.signUp{
  float:left;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 350px;
  padding-top: 10px;
  opacity: .3;
  font-family: 'Baloo Bhaina', cursive;
  transition: all .5s ease-in-out;
  text-shadow: 1px 1px 2px black;
  box-shadow: 5px 5px 20px black;
  background: rgba(50, 50, 50, .5);
  border-radius: 10px;

  button{
      margin-left: 100px;
  }
}

.signUp:hover{
  opacity: 1;
}

.loginTitle{
  font-size: 25px;
  color:white;
  font-family: 'Baloo Bhaina', cursive;
  text-align: center;
}

.signUpTitle{
  font-size: 25px;
  color:white;
  font-family: 'Baloo Bhaina', cursive;
  text-align: center;
}

input{
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding-left: 5px;
  width: 250px;
}

button{
border-radius: 5px;
background: black;
color: white;
border: 1px solid white;
opacity: 3;
}


.userInfo:hover{
  opacity: 1;
  transition: all .5s ease-in-out;
}

.top{
    background:black;

    .logo{
      text-align:center;
      font-size: 40px;
      color:white;
      font-family: 'Lato', sans-serif;
      width:200px;
      margin:auto;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .loginout{
      float:right;
      margin-top: 1%;
      margin-right: 2.5%;
    }
  }

.addAPhoto{
  position: fixed;
  top:15%;
  right:3%;
}

.post{
  width: 500px;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  background: black;
  float: left;
  margin-left: 65px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-radius: 5px;


  .whoPosted{
    width:100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 5px;
    float: left;
    color:white;

    b{
      float:left;
      margin-right: 10px;
      font-size: 18px;
    }
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

    .picture{
      width: 100%;
      height: 300px;
      text-align: center;
      background: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      img {
        width: 100%;
        height:100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .description{
      background:black;
      font-family: 'Lato', sans-serif;
      float: left;
      margin-right: 300px;
      font-size: 14px;
      margin-top: 5px;
      overflow: auto;
      color:white;
    }


    .commentsContainer{
      width:98.6%;
      padding-left: 10px;
      padding-top: 10px;
      overflow:auto;
      transition: all 1s ease-in-out;
      height:10px;
      }

      .commentsContainer:hover{
        height:100%;
        transition: all 1s ease-in-out;


    .comments{
      overflow:hidden;
    }

    .comments:hover{
      height:100%;
    }

    button{
      float:right;
      margin-top: 45px;
      margin-right: 20px;
      color:white;
      background: lightgreen;
      border: 1px solid lightgreen;
      padding-right: 10px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      }

      button:hover{
        color:lightgreen;
        background: white;
        border: 1px solid lightgreen;
      }
    }
  }

  .addCommentsContainer {
    width: 500px;
    position: fixed;
    text-align: center;
    left: 350px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 5px 5px 20px black;
    background: rgba(50, 50, 50, .5);
    border-radius: 10px;
    transition: all 3s ease-in-out;

    input{
      padding-left: 10px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border:1px solid black;
    }

    button{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-left: -3px;
      margin-top: 200px;
      height:22px;
      border: 1px solid black;
    }

    .addCommentsContainerTitle{
      color:white;
      font-family: 'Baloo Bhaina', cursive;
      font-size: 25px;
      margin-top: 10px;
    }

    textarea{
      margin: auto;
      margin-top: 20px;
      font-family: 'Baloo Bhaina', cursive;
      border-radius: 10px;
      border: 1px solid white;
    }
}

.addCommentButton{
    width: 26px;
    height:20px;
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;
    float:right;
    padding-bottom: 30px;
    background: white;
    margin-right:15px;
    color:white;
    background: black;
    border: 1px solid black;
  }
  .addCommentButton:hover{
    background:black;
    color:lightgreen;
  }


.addPhotoContainer{
height: 350px;
width: 600px;
margin: auto;
margin-top: 20px;
position: fixed;
text-shadow: 1px 1px 2px black;
box-shadow: 5px 5px 20px black;
background: rgba(50, 50, 50, .5);
border-radius: 5px;
left:300px;

.userImage{
  height: 75px;
  width: 75px;
  border: 1px solid white;
  margin-left: 50px;
  margin-top: 50px;
  float:left;
  border-radius: 100px;
}

.addPhotoUrl{
  width: 450px;
  height: 350px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 5px;

  input{
    width: 300px;
    height: 30px;
    margin-top: 25px;
    margin-left: 70px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: 'Baloo Bhaina', cursive;
    padding-left: 10px;
    color: black;
  }

  button{
    border: 1px solid white;
    height: 34px;
    width: 100px;
    font-family: 'Baloo Bhaina', cursive;
    background: white;
    color: lightgreen;
    margin-left:175px;
    margin-top: 10px;
    border-radius: 10px;
  }

  button:hover{
    background: lightgreen;
    color:white;
  }

  .addPhotoTitle{
    text-align: center;
    margin-top: 25px;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 25px;
    color:white;
  }

  textarea{
    font-family: 'Baloo Bhaina', cursive;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid white;
  }
}
}
