<div class = "addPhotoContainer">
  <div class = "userImage"><img src=""></div>
  <div class = "addPhotoUrl">
    <form ng-submit="addPhoto(photo)">
      <div class = "addPhotoTitle">POST SOMETHING AWESOME!</div>
      <input type="text" placeholder="Photo URL" ng-model="photo.photoUrl">
      <textarea name="name" rows="3" cols="40" placeholder="Photo description" ng-model="photo.description"></textarea>
      <button><i class="fa fa-plus" aria-hidden="true"></i>Post!</button>
    </form>
  </div>
</div>
