
    <nav class = "top">
      <form ng-submit="logOut()">
        <button class = "loginout">Log-Out <i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
      </form>
      <form ng-submit="logIn()">
        <button class = "loginout">Log-In <i class="fa fa-user-circle" aria-hidden="true"></i></button>
      </form>
      <div class = "logo">
      <i class="fa fa-hand-spock-o" aria-hidden="true"></i>iew
    </div>
    </nav>
        <form class = "addAPhoto" ng-submit="viewAddPhoto()">
          <button>
              <i class="fa fa-plus" aria-hidden="true"></i>
              <i class="fa fa-camera-retro" aria-hidden="true"></i>
          </button>
        </form>

    <div class="comment-modal" ui-view></div>


<div class = "postContainer">
    <div ng-repeat="post in posts">
        <div class="post">
            <div class="userPhoto"><img src="{{post.User.profilePic}}"/></div>
            <div class="picture"><img src="{{post.photoUrl}}" /></div>
            <div class="whoPosted">
              <b>~{{post.username}}:</b>
              <span class = "description">{{post.description}}</span>
            </div>
             <!-- <div class="commentsContainer">
                <div ng-repeat="comment in post.Comments">
                    <div class="comments">{{comment.username}}: {{ comment.content }}</div>
                </div>
            </div>  -->
            <a href="#!/home/{{ post.id }}/comment">
                <button class= "addCommentButton">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
            </a>
        </div>
    </div>
</div>
