 <div class="userInfo">
  <form class="login" ng-submit="login(log)">
    <div class="loginTitle">Log-In to your account </div>
    <input type="text" placeholder="Email" ng-model="log.email"/><br/>
    <input type="password" placeholder="Password" ng-model="log.password"/><br/>
    <button>Login</button>
  </form>

  <form class="signUp" ng-submit="signUp(user)">
    <div class="signUpTitle">Join the club</div>
    <input type="text" placeholder="Profile Pic (URL)" ng-model="user.profilePic"/><br/>
    <input type="text" placeholder="Background Pic (URL)" ng-model="user.backgroundPic"/><br/>
    <input type="text" placeholder="Username (Required)" ng-model="user.username"/><br/>
    <input type="text" placeholder="Email (Required)" ng-model="user.email"/><br/>
    <input type="text" placeholder="Name Irl" ng-model="user.name"/><br/>
    <input type="password" placeholder="Password" ng-model="user.password"/><br/>
    <button>Sign Up</button>
  </form>
  </div>
