<div class = "userInfo">
<form class = "login">

  <input type = "text" placeholder = "Email" ng-model = "login.email"/><br/>
  <input type = "text" placeholder = "Password" ng-model = "login.password"/>

</form>

<form class = "signUp">
  <input type = "text" placeholder = "Profile Pic (URL)" ng-model = "signUp.profilePic"/><br/>
  <input type = "text" placeholder = "Background Pic (URL)" ng-model = "signUp.backgroundPic"/><br/>
  <input type = "text" placeholder = "Username (Required)" ng-model = "signUp.username"/><br/>
  <input type = "text" placeholder = "Email (Required)" ng-model = "signUp.email"/><br/>
  <input type = "text" placeholder = "Name Irl" ng-model = "signUp.name"/><br/>
  <input type = "password" placeholder = "Password" ng-model = "signUp.password"/><br/>
</form>
</div>
