<div class = "profileHeader">
    <img ng-src = "{{currentUser.backgroundPic}}"/>
    <div class = "profileAvatar"><img src = "{{currentUser.profilePic}}"/></div>
    <div class = "profileUserName">{{currentUser.userName}}</div>
</div>
<div class = "profileGallery">
    <div ng-repeat="photo in currentUser.Photos">
        <div class="galleryImage" ng-dblclick="addLike(photo.id)">
            <a href="#!/profile/{{ currentUser.id }}/image/{{ photo.id }}">
                <img ng-src="{{photo.photoUrl}}" />
            </a>
        </div>
    </div>
</div>