<nav class = "top">
  <form ng-submit="logOut()">
    <button class = "logout" ng-show="loggedIn">Log-Out <i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
  </form>
  <form ng-submit="logIn()">
    <button class = "loginout" ng-hide="loggedIn">Log-In <i class="fa fa-user-circle" aria-hidden="true"></i></button>
  </form>
  <div class = "logo">
  <a href = "#!/home"><i class="fa fa-hand-spock-o" aria-hidden="true"></a></i>iew
</div>
</nav>

<div class = "profileHeader">
  <img src = "{{currentUser.backgroundPic}}"/>
  <div class = "profileAvatar"><img src = "{{currentUser.profilePic}}"/></div>
  <div class = "profileUserName">{{currentUser.username}}</div>
</div>

<div class="singlePicture-modal" ui-view></div>

<div class = "profileGallery">
  <div ng-repeat="photo in currentUser.Photos">
  <div class="galleryImage">
    <img src="{{photo.photoUrl}}"/>
  </div>
</div>
