<nav class = "top">
  <form ng-submit="logOut()">
    <button class = "loginout">Log-Out <i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
  </form>
  <form ng-submit="logIn()">
    <button class = "loginout">Log-In <i class="fa fa-user-circle" aria-hidden="true"></i></button>
  </form>
  <div class = "logo">
  <a href = "#!/home"><i class="fa fa-hand-spock-o" aria-hidden="true"></a></i>iew
</div>
</nav>
    <form class = "addAPhoto" ng-submit="viewAddPhoto()">
      <button>
          <i class="fa fa-plus" aria-hidden="true"></i>
          <i class="fa fa-camera-retro" aria-hidden="true"></i>
      </button>
    </form>


<div class = "profileHeader">
  <img src = "{{currentUser.backgroundPic}}"/>
  <div class = "profileAvatar"><img src = "{{currentUser.profilePic}}"/></div>
  <div class = "profileUserName">{{currentUser.username}}</div>
</div>
<div class = "profileGallery">
  <div ng-repeat="photo in currentUser.Photos">
  <div class="galleryImage">
    <img src="{{photo.photoUrl}}"/>
  </div>
</div>
